*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    width: 100%;
    font-family: sans-serif;
    height: 100%;
}

header{
    width: 100%;
    min-height: 650px;
    margin-bottom: 50px;
}

.headerImg{
    background-image: url("../img/headerImg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 630px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
             clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
}
.headerImg .toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    min-width:40px;
    height: 40px;   
    background: #262626;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    z-index: 10;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 10px 20px 10px;

    
    
    
}
.headerImg .toggle:before{
    content: 'Menu';
    color: #fff;
    line-height: 40px;
}

.headerImg .toggle.active:before{
    content: 'Close';
    color: #fff;
    line-height: 40px;
}
.logo{
    position: absolute;
    top: -10px;
    left: 20px;
    min-width: 100px;
    height: 100px; 
    background-image: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#scrollDownButton{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,510%);
    border-radius: 50%;
    background-color: #f81a1ad2;
    text-align: center;
    line-height: 55px;
    color: #262626;
    z-index: 10;
    font-size: 20px;
    overflow: hidden;
    animation: sPulse 2s linear infinite;
}



.sidebar{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}
.sidebar.active{
    top: 0;
    
}
ul{
    position: relative;
}
ul li{
    text-align: center;
}
ul li a{
    display: block;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .5s;

}
ul li a:hover{
    color: #f81a1ad2;
    text-decoration: none;
}

ul li a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    font-size: 17rem;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}


ul li a:hover::before{
    color: #fff;
    opacity: 0.1;
    top: 50%;
}

#main{
    width: 100%;
    height: 4300px;
}

.wrap1{
    height: 1300px;
    width: 100%;
    background-color: #262626;
    -webkit-clip-path: polygon(0 4%, 100% 0, 100% 82%, 0 89%);
clip-path: polygon(0 4%, 100% 0, 100% 82%, 0 89%);
    padding: 25px;
    animation: wrapAnimation 1.5s ease-in-out;
}
.wrap2{
    position: relative;
    height: 1000px;
    width: 100%;
    -webkit-clip-path: polygon(0 4%, 100% 11%, 100% 67%, 0 79%);
clip-path: polygon(0 4%, 100% 11%, 100% 67%, 0 79%);
    animation: wrapAnimation 1s ease-out;
}
.videoWrap{
   position:absolute;
   top: -85px;
   left: 0;
   width: 100%;
   height: inherit;
   overflow: hidden;
}
.videoWrap video{
    min-width: 100%;
    height: 100%;
    /* position: absolute;
    left:-300px;
    top:0; */
}
.wrap2 .opacity{
    opacity:0.85;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #262626;
    z-index: 1;
}
.vText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%,-1000%);
    color: #fff;
    z-index: 2;

}
.wrap3{
    height: 600px;
    width: 100%;
    background-color: #262626;
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 89%);
clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 89%);
animation: wrapAnimation 1s ease-out;
}
.wrap4{
    height: 800px;
    width: 100%;
    position: relative;
    
}
.wrap4 .shape{
    height: 800px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #262626;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    padding: 20px;
}
.plus{
    display: block;
    width: 50px;
    height: 350px;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;

}
.plus .fas{
    font-size: 35px;
    color: #f81a1ad2;
    animation: circle 1s linear infinite;
}
.plus .fas:nth-child(1){
    margin-top: 30px;
}
.plus .fas:nth-child(2){
    margin-top: 80px;
}
.plus .fas:nth-child(3){
    margin-top: 70px;
}

.aboutAuthorPic{
    display: block;
    width: 300px;
    height: 250px;
    float: left;
    margin-top: 170px;
}
.aboutAuthorText{
    display: block;
    width: 400px;
    height: 350px;
    float: right;
    margin-top: 100px;
}
.aboutAuthorText h1{
    color: #fff;
    font-size: 23px;
}
.aboutAuthorText p{
    color: #fff;
    font-size: 21px;
}
.aboutAuthorText .midText{
    margin-top: 50px;
}
.aboutAuthorText .endText{
    margin-top: 50px;
}
.carImg1{
    background-image: url("../img/car_img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    animation: tickle 1s linear infinite;
    

}
.carImg2{
    background-image: url("../img/car_img2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    animation: tickle 1s linear infinite;
    
    
}
.carImg3{
    background-image: url("../img/car_img3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    animation: tickle 1s linear infinite;
}
.carImg4{
    background-image: url("../img/car_img4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    animation: tickle 1s linear infinite;
}
.carImg5{
    background-image: url("../img/car_img5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    animation: tickle 1s linear infinite;
}
.carImg6{
    background-image: url("../img/car_img6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    animation: tickle 1s linear infinite;
}

.supportImg{
    background-image: url("../img/support_img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px; 
    position: relative;   
}
.supleft{
    width: 250px;
    height: 300px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(80%,-60%);
    border: 2px solid #fff;
}
.supleft ul{
    width: 100%;
    margin-top: 15px;
    padding: 20px;
}
.supleft ul a{
    text-decoration: none;
    color: #fff;
}
.supleft ul a li{
    margin-bottom: 15px;
}
.supright{
    width: 250px;
    height: 300px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-180%,-60%);
    border: 2px solid #fff;
    
}
.supright ul{
    width: 100%;
    margin-top: 15px;
    padding: 20px;
}
.supright ul a{
    text-decoration: none;
    color: #fff;
}
.supright ul a li{
    margin-bottom: 15px;
}

.Sview{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f81a1ad2;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 50px;
    animation: left-right 3s ease-in-out infinite;
}
.Sview p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 25px;
    color:#fff;
    font-size: 18px;
}
.Aview{
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f81a1ad2;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin-top: 150px;
    margin-bottom: 50px;

}
.Aview p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 25px;
    color:#fff;
    font-size: 18px;

}
.view {
    position: relative;
    left: 50%;
    transform: translate(-50%,45%);
    background-color: #f81a1ad2;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    animation: pulse 2s linear infinite;
}
.view p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 25px;
    color:#fff;
    font-size: 18px;
    
}
.lView{
    position: relative;
    left: 5%;
    transform: translateY(-58%);
    background-color: #f81a1ad2;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    animation: translate 2s ease-out infinite;
}
.lView p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 25px;
    color:#fff;
    font-size: 18px;
}

.videoView{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f81a1ad2;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 10px;
    animation: slide 1s linear;
}
.videoView p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 25px;
    color:#fff;
    font-size: 18px;
}

.carRow{
    width: 900px;
    height: 300px;
}
.margin{
    margin: 30px 10px 50px 10px;
}


.radius{
    
    border-radius: 20px;
}

.socialNetworks{
    width: 100%;
    height: 100px;
    text-align: center;
}
.nSoc{
    width: 200px;
    height: 60px;
    display: inline-block;
    background-color:  #f81a1ad2;
    border-radius: 30px;
    text-align: center;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    perspective: 100px;
    
    
}
.nSoc .cover{
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    width: 200px;
    height: 60px;
    display: inline-block;
    background-color: #f81a1ad2;
    width: 200px;
    height: 60px;
    transition: all .5s ease-in;
    transform-style: preserve-3d;
    transform-origin:  bottom;
}
.nSoc:hover .cover{
    transform: rotateX(90deg);
}
.nSoc:hover p{
    transition: all 1s linear;
    opacity: 1;
}
.nSoc .cover i{
    font-size: 30px;
    color: #fff;

}
.nSoc p{
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 60px;
    color: #fff;
    font-size: 18px;
}

footer{
    width: 100%;
    height: 250px;
    background-color: #262626;
}


@keyframes circle{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(90deg);
    }
    100%{
        transform: rotateZ(180deg);
    }
}

@keyframes z-axis{
    0%{
        transform: rotateZ(0deg);
        opacity: 1;
    }
    20%{
        
        transform: rotateZ(50deg);
        opacity: 1;
    }
    40%{
        
        transform: rotateZ(70deg);
        opacity: 1;
    }
    50%{
        
        transform: rotateZ(80deg);
        opacity: 1;
    }
    70%{
        
        transform: rotateZ(-100deg);
        opacity: 1;
    }
    90%{
        
        transform: rotateZ(-150deg);
        opacity: 1;
    }
    100%{
        transform: rotateZ(-200deg);
        opacity: 1;
    }
}

@keyframes wrapAnimation{
    0%{
        width: 0%;
        opacity: 0;
    }
    25%{
        width: 300px;
        opacity: 0.2;
    }
    50%{
        width: 500px;
        opacity: 0.5;
    }
    75%{
        width: 800px;
        opacity: 0.7;
    }
    100%{
        width: 100%;
        opacity: 1;
    }


}

@keyframes wrapAnimationHeight{
    0%{
        height: 0%;
        opacity: 0;
    }
    25%{
        height: 300px;
        opacity: 0.2;
    }
    50%{
        height: 500px;
        opacity: 0.5;
    }
    75%{
        height: 800px;
        opacity: 0.7;
    }
    100%{
        height: 100%;
        opacity: 1;
    }


}


@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(248, 26, 26,.7),  0 0 0 0 rgba(248, 26, 26,.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(248, 26, 26,0),  0 0 0 0 rgba(248, 26, 26,.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(248, 26, 26,0),  0 0 0 30px rgba(248, 26, 26,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(248, 26, 26,0), 0 0 0 30px rgba(248, 26, 26,0);
    } 





}

 @keyframes sPulse{
    0%{
        box-shadow: 0 0 0 0 rgba(248, 26, 26,.7); 
    }
    40%{
        box-shadow: 0 0 0 50px rgba(248, 26, 26,0);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(248, 26, 26,0);  
    }
    100%{
        box-shadow: 0 0 0 0 rgba(248, 26, 26,0); 
    } 





} 

@keyframes left-right{
    0%{
        transform: translateX(-50%);
        box-shadow: 0 0 0 0 rgba(248, 26, 26,.7);
    }
    15%{
        transform: translateX(-30%);
    }
    25%{
        transform: translateX(-10%);
    }
    30%{
        transform: translateX(-20%);
    }
    35%{
        transform: translateX(-30%);
    }
    45%{    
        transform: translateX(-50%);
        box-shadow: 0 0 0 50px rgba(248, 26, 26,0);
    }
    55%{
        transform: translateX(-70%);
    }
    65%{
        transform: translateX(-90%);
    }
    75%{
        transform: translateX(-70%);
    }
    85%{
        transform: translateX(-50%);
        box-shadow: 0 0 0 50px rgba(248, 26, 26,0); 
    }
    90%{
        transform: translateX(-55%);
    }
    100%{
        transform: translateX(-45%);
        box-shadow: 0 0 0 0 rgba(248, 26, 26,0);
    }
}


@keyframes slide{
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    80% {
            transform: translateX(50px);
    }
    90% {
            transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%);
    }

}


@keyframes tickle{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(2deg);
    }
    75%{
        transform: rotate(-2deg);
    }
    100%{
        transform: rotate(0);
    }





}



@keyframes translate{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
    10%{
        transform: translateY(40%);
        opacity: 0;
    }
    15%{
        transform: translateY(30%);
        opacity: 0;
    }
    20%{
        transform: translateY(20%);
        opacity: 0.3;
    }
    30%{
        transform: translateY(-10%);
        opacity: 0.5;
    }
    40%{
        transform: translateY(-30%);
        opacity: 0.7;
    }
    50%{
        transform: translateY(-58%);
        opacity: 1;
    }
    65%{
        transform: translateY(-58%);
        opacity: 1;
    }
    70%{
        transform: translateY(-58%);
        opacity: 1;
    }
    75%{
        transform: translateY(-58%);
        opacity: 1;
    }
    80%{
        transform: translateY(-30%);
        opacity: 0.8;
    }
    82%{
        transform: translateY(-10%);
        opacity: 0.7;
    }
    85%{
        transform: translateY(10%);
        opacity: 0.5;
    }
    87%{
        transform: translateY(20%);
        opacity: 0.4;
    }
    90%{
        transform: translateY(40%);
        opacity: 0.2;
    }
    100%{
        transform: translateY(50%);
        opacity: 0;
    }

}






