*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    width: 100%;
    font-family: sans-serif;
    height: 100%;
}

header{
    width: 100%;
    min-height: 650px;
}

.headerImg{
    background-image: url("../img/headerImg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 630px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
             clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
}
.headerImg .toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    min-width:40px;
    height: 40px;   
    background: #262626;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    z-index: 10;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 10px 20px 10px;

    
    
    
}
.headerImg .toggle:before{
    content: 'Menu';
    color: #fff;
    line-height: 40px;
}

.headerImg .toggle.active:before{
    content: 'Close';
    color: #fff;
    line-height: 40px;
}
.logo{
    position: absolute;
    top: -10px;
    left: 20px;
    min-width: 100px;
    height: 100px; 
    background-image: url("../img/logo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#scrollDownButton{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%,510%);
    border-radius: 50%;
    background-color: #f81a1ad2;
    text-align: center;
    line-height: 55px;
    color: #262626;
    z-index: 10;
    font-size: 20px;
    overflow: hidden;
}



.sidebar{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}
.sidebar.active{
    top: 0;
    
}
ul{
    position: relative;
}
ul li{
    text-align: center;
}
ul li a{
    display: block;
    padding: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: .5s;

}
ul li a:hover{
    color: #f81a1ad2;
    text-decoration: none;
}

ul li a:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .5s;
    font-size: 17rem;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}


ul li a:hover::before{
    color: #fff;
    opacity: 0.1;
    top: 50%;
}

#main{
    width: 100%;
    height: 4000px;
}

.wrap1{
    height: 1300px;
    width: 100%;
    background-color: #262626;
    -webkit-clip-path: polygon(0 4%, 100% 0, 100% 82%, 0 89%);
clip-path: polygon(0 4%, 100% 0, 100% 82%, 0 89%);
    padding: 25px;
}
.carImg1{
    background-image: url("../img/car_img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    

}
.carImg2{
    background-image: url("../img/car_img2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    
    
}
.carImg3{
    background-image: url("../img/car_img3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
    
}
.carImg4{
    background-image: url("../img/car_img4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
}
.carImg5{
    background-image: url("../img/car_img5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
}
.carImg6{
    background-image: url("../img/car_img6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    max-width: 420px;
    margin-left: 15px;
}


.view {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f81a1ad2;
    text-align: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
}
.view p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 160px;
    height: 25px;
    color:#fff;
    font-size: 18px;
}

.carRow{
    width: 900px;
    height: 300px;
}
.margin{
    margin: 30px 10px 50px 10px;
}


.radius{
    
    border-radius: 20px;
}




























